@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
    
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.gutter {
    padding-left: 1em;
    padding-right: 1em;
}

figure {
  margin: 0;
  position: relative;
  bottom: 0;
  padding: 0;
  width: 100%;
}

figcaption {
    text-align: left;
    width: 100%;
    font-size: .9rem;
}

.title {
    background-color: #ccc;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
}

h1 {
    text-decoration: none;
    float: center;
    text-align: center;
}

.background {
    background-color: #ccc;
}

.intro {
    background-color: #e2e2e2;
    overflow: hidden;
    text-align: center;
}

h2 {
    text-decoration: none;
}
    
.nav {
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: none;
}

.nav-bottom {
    float: center;
}

.top-bar {
    background-color: #ccc;
    overflow: hidden;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

.background {
     background-color: #D1D0CE;
}

.backcolor {
    background-color: #E8E8E8;
}

.nav a {
    display: block;
    padding: 0;
    text-decoration: none;
    color: #0074D9;
}

nav ul li a:hover {
    color: white;
    background-color: #0066CC;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

.pad-top {
    background-color: #F0F0F0;
}

.margin {
    margin-top: 1rem;
}

@media only screen and (min-width: 30em) {
    
    .nav {
        text-align: center;
    }
    .nav li {
        display: inline-block; 
}

@media only screen and (min-width: 50em) {
    
    .nav {
        float: center;
        overflow: hidden;
    }
    
    h1 {
        float: left;
        margin: 0;
    }
    
   .top-bar{
       overflow: hidden;
    }
}